@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@font-face {
	font-family: 'Yekan';
	src:	url('Yekan.eot'); /* IE9 Compat Modes */
	src:    url('./assets/fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body{
    font-family: 'Yekan', sans-serif;
}